*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

:root{
   --TOMATO: hsl(4,100%,67%)
   --dark-slate-grey: hsl(234, 29%,20%)
   --Chharcoal-Grey: hsl(235, 18%, 26%)
   --Grey: hsl(231,7%,60%)
   --White: hsl(0, 0%, 100%)
}
 main article figure{
    height: 284px;
    width: 100%;
    background-image: url("./imag/illustration-sign-up-mobile.svg");
    background-size: cover;
   

 }
 .info-cointainer{
    height: 100%;
    padding: 2rem;
    width: 100%;
 }

.info-cointainer__info h1{
   font-size: 2.5rem;
   font-weight: 700;
   margin-bottom: 1rem;
}

.info-cointainer__info p{
   font-size: 1rem;
   font-weight: 400;
   margin: 1rem 0;
}

.info-cointainer__info ul li{
 list-style: none;
 line-height: 1.5rem;
 display: flex;

}

.info-cointainer__info ul li::before{
   content: url(./imag/icon-list.svg);
   margin-right: 1rem;
   
  }

  /* estilos del formulario */

  .info-cointainer__sigup-form{
  /* background-color: red; */
   display: flex;
   flex-direction: column;
   height: 176px;
   width: 100%;
  }

  .info-cointainer__sigup-form label{
   margin-bottom: 0.4rem;
   font-size: 0.8rem;
  }

  .info-cointainer__sigup-form input:nth-of-type(1){
   height: 55px;
   width: 295px;
   border-radius: 8px;
   border: 1px solid var();
   padding-left: 1.5rem;
   margin-bottom: 1.5rem;
  }

  .info-cointainer__sigup-form input:nth-of-type(2){
   height: 55px;
   width: 295px;
   border-radius: 8px;
   border: 1px solid var();
   padding-left: 1.5rem;
   margin-bottom: 1.5rem;
   text-align: center;
  }

  /*DESTOP*/

  @media (min-width: 1023px){

   body{
      background-color: floralwhite;
   }
   
   .card-container{
      border-radius: 34px;
    display: flex;
    flex-direction: row-reverse;
    max-width: 928px;
    max-height: 641px;
    margin: 0 auto;
    padding: 1rem;
    background-color: floralwhite;
   }

   main article figure{
      background-image: url("./imag/illustration-sign-up-desktop.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 400px;
      max-height: 593px;
   }

   .info-cointainer{
      margin: 0 auto;
      width: 456;
      height: 593px; ;
      padding: 4rem;
   }
  }
    
      
    